/*
 * {{ h.get_prefixed_name(name) }}
 * ------------------------------
 * {{ description }}
 */

#ifndef {{h.get_define_name(name)}}
#define {{h.get_define_name(name)}}

using namespace std;

#include <memory>
{% for include in h.get_setting("includes") -%}
    #include <{{ include }}>
{% endfor -%}
{% if h.has_a_list(name): -%}
    #include <list>
{% endif -%}
{% for include in h.get_model_includes(name) -%}
    #include "{{ include }}"
{% endfor %}
class {{ h.get_prefixed_name(name) }}
{
    {% for attribute in attributes: -%}
        {{ h.get_attribute_type(attribute) }} {{ attribute["name"] }};
    {% endfor %}
    public:
        {% for attribute in attributes: %}
            {{ h.get_attribute_type(attribute) }} get_{{ attribute["name"] }}();
            {{ h.get_attribute_type(attribute) }} set_{{ attribute["name"] }}({{ h.get_attribute_type(attribute) }} value);
        {% endfor %}

};

#endif
